<app-menu></app-menu>
<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h2>Well this might be awkward... or maybe not</h2>
          <hr />
          <p>
            This is called a 404 error. It's like calling the wrong number, but
            in the internet.
          </p>
          <p>
            Not that We want to asume anything, but it looks like you dialed the
            wrong number (figurative speech). I wish we could know exactly what
            you are looking for. At any rate, you could go back to the
            <a routerLink="/welcome">home page</a>. There you'll find what we
            have to offer. You may find something interesting there.
          </p>
          <p>
            Another possibility is that whatever you are looking for ain't here.
            It might have been deleted, or it just never existed in the first
            place. But, again, don't want to asume anything. We are just
            exploring posibilities here
          </p>
          <p>
            You know, the internet is the best thing after sliced bread, but
            this 404 thing just happens from time to time. That's how it goes.
          </p>
          <p>
            Well, you've got this far. We don't have anything else to say here.
            you can <a routerLink="/welcome">click this link</a> to go to our
            home page. or feel free to hang out. Whatever floats your boat.
            Anyways, nice to see you here (figurately speaking... we are not
            looking at you nor collecting your browser data).
          </p>
        </div>
        <div class="col">
          <div class="d-flex justify-content-center align-items-center">
            <img
              src="assets/images/homer-simpson.jpeg"
              class="img-thumbnail img-fluid"
              [title]="'Ooooops'"
              [alt]="'Some funny image'"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
